.pass-show {
    position: relative;
    width: 350px;
}

.pass-show .ptxt {
    float: right;
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 1;
    color: #f36c01;
    margin-top: -10px;
    cursor: pointer;
    transition: .3s ease all;
}

.pass-show .ptxt:hover {
    color: #333333;
}

.pswd-change-btns {
    width: 100%;
    text-align: center;
}

.pswd-change-btn {
    display: inline-block;
}

.pswd-final-btn {
    margin: 2px;
    width: 120px;
    align-content: center;
}