@page "/temp"

@inject IModalService Modal
@inject ProjectApplicationInputModel model
@inject NavigationManager NavigationManager
@inject IModalService Modal
@inject ILocalStorageService localStorage


<style>
    /* sadzaj stranice */
    body {
        padding-top: 7rem;
        margin: auto;
    }



    .time-period {
        display: flex;
        position: absolute;
        right: 0;
        margin-right: 10px;
        margin-bottom: 0;
    }

        .time-period .date {
            margin-right: 10px;
            margin-bottom: 0;
        }



    .buttons {
        margin-top: 0;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row-reverse;
    }

    .projectStatus {
        display: flex;
        text-align: left;
        margin: 0;
    }

    #buttonTags {
        margin-top: 12px;
        display: flex;
    }

    .table {
        margin-top: 2rem;
    }

   
    




    .tags {
        display: flex;
        flex-wrap: wrap;
        cursor: pointer;
    }

        .tags .tag {
            margin-right: 4px;
            margin-bottom:4px;
            padding: 5px 10px 5px 10px;
            border: solid thin lightgray;
            border-radius: 5px;
        }

            .tags .tag:hover {
                color: #FFF;
                background-color: #d9230f;
                border-color: #d9230f;
            }
</style>

<AuthorizeView>
    <Authorized>
         <div class="container">

            <div class="card">
                <div class="card-header" style="display:flex">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
                        <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                        <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
                    </svg>

                    <h5 style="margin-left:10px; margin-top:4px;"><a href="/profile" class="text-reset">Aleksandar Jovanović</a></h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">Vještačka inteligencija u obrazovnim ustanovama SSS</h3>
                    <p class="card-text">
                        Usavršavanje obrazovnog sistema uz uvođenje vještačke inteligencije u srednje škole,
                        kako bi se povećala svijest studenata i uvele njihove lične percepcije u sfere budućnosti
                        koje nam donose mnogo toga zanimljivog kroz tehniku i automatizam.
                    </p>

                    <div class="tags">
                        <div class="tag">Web</div>
                        <div class="tag">Web</div>
                        <div class="tag">Web</div>
                        <div class="tag">Web</div>
                        <div class="tag">Web</div>
                        <div class="tag">Web</div>
                        <div class="tag">Web</div>
                        <div class="tag">Web</div>
                        <div class="tag">Web</div>
                        <div class="tag">Web</div>

                        <div class="tag">Web</div>
                        <div class="tag">Web</div>
                        <div class="tag">Web</div>
                        <div class="tag">Web</div>
                        <div class="tag">Web</div>

                        <div class="tag">Web</div>
                        <div class="tag">Web</div>
                        <div class="tag">Web</div>
                        <div class="tag">Web</div>
                        <div class="tag">Web</div>

                        @*<button type="button" class="btn btn-outline-dark btn-sm">OOP</button>
        <button type="button" class="btn btn-outline-dark btn-sm">C#</button>*@
                    </div>



                </div>
                <div class="card-footer text-muted" style="display:flex">
                    <div class="projectStatus">
                        <p class="text-muted">Status: </p>
                        <p class="text-success" style="margin-left:8px;">Aktivan</p>
                    </div>
                    <div class="time-period">
                        <p class="date">20.12.2020</p>
                        <p class="date"> - </p>
                        <p class="date">5.4.2021</p>
                    </div>


                </div>
            </div>


            <table class="table table-hover table-bordered">
                <caption>Profili nastavnog osoblja</caption>
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Fakultet</th>
                        <th scope="col">Naučna oblast</th>
                        <th scope="col">Opis aktivnosti</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Elektrotehnički fakultet</td>
                        <td>Elektronika i elektronski sistemi</td>
                        <td>Test opis tražene pozicije 1</td>

                    </tr>
                    <tr>
                        <td>Elektrotehnički fakultet</td>
                        <td>Baze podataka</td>
                        <td>Test opis tražene pozicije 2</td>

                    </tr>

                </tbody>
            </table>

            <table class="table table-hover table-bordered">
                <caption>Profili studenata</caption>
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Fakultet</th>
                        <th scope="col">Ciklus</th>
                        <th scope="col">Studijski program</th>
                        <th scope="col">Studijski smjer</th>
                        <th scope="col">Godina</th>
                        <th scope="col">Opis aktivnosti</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Elektrotehnički fakultet</td>
                        <td>1</td>
                        <td>Elektronika i telekomnikacije</td>
                        <td>Elektronika</td>
                        <td>2</td>
                        <td>Test opis tražene pozicije</td>
                    </tr>
                    <tr>
                        <td>Elektrotehnički fakultet</td>
                        <td>1</td>
                        <td>Elektronika i telekomnikacije</td>
                        <td>Elektronika</td>
                        <td>2</td>
                        <td>Test opis tražene pozicije</td>
                    </tr>
                    <tr>
                        <td>Elektrotehnički fakultet</td>
                        <td>1</td>
                        <td>Elektronika i telekomnikacije</td>
                        <td>Elektronika</td>
                        <td>2</td>
                        <td>Test opis tražene pozicije</td>
                    </tr>
                    <tr>
                        <td>Elektrotehnički fakultet</td>
                        <td>1</td>
                        <td>Elektronika i telekomnikacije</td>
                        <td>Elektronika</td>
                        <td>2</td>
                        <td>Test opis tražene pozicije</td>
                    </tr>
                </tbody>
            </table>

            <div class="buttons">
                <button class="btn btn-dark" style="margin-left: 3px" type="button">Odaberi saradnike</button>
                <button class="btn btn-dark" style="margin-left: 20px" @*@onclick="EditProject" *@>Izmijeni</button>
                <button class="btn btn-outline-dark" @*@onclick="ShowProjectDeleteWarning" *@>Izbriši</button>
            </div>


        </div>
        </Authorized>
    </AuthorizeView>
       
