@page "/temp"

<style>
    body {
        padding-top: 7rem;
        padding-bottom: 7rem;
    }
    .container {
        margin-bottom: 60px;
    }
    .tags-margin-right {
        margin-right: 5px;
    }
</style>

<div class="container">
    <h3>Novi projekat</h3>

    <div class="mb-3">
        <label for="email">Naziv objekta</label>
        <input type="email" class="form-control" id="email">
    </div>
    <div class="mb-3">
        <label for="email">Oblast</label>
        <input type="email" class="form-control" id="email">
    </div>
    <div class="mb-3">
        <label for="email">Period realizacije</label>
        <input type="email" class="form-control" id="email" placeholder="01.01.2021-12.12.2022">
    </div>
    <div class="mb-3">
        <label for="validationDefault07">Biografija</label>
        <textarea class="form-control"></textarea>
    </div>
    <div class="mb-3">
        <ul class="list-group">
            <li class="list-group-item active">Potrebni saradnici</li>
            <li class="list-group-item">Student1</li>
            <li class="list-group-item">Student2</li>
            <li class="list-group-item">Student3</li>
            <li class="list-group-item">Profesor1</li>
            <li class="list-group-item">Profesor2</li>
        </ul>
        <div class="mb-2">
            <row>
                <button type="button" class="btn btn-secondary float-right">Dodaj saradnika</button>
                <button type="button" class="btn btn-secondary float-right">Izmjeni</button>
                <button type="button" class="btn btn-secondary float-right">Izbriši</button>
            </row>
        </div>
    </div>

    <label for="Tags">Tagovi</label>
    <div class="col-md-12">
        <div class="row">
            <button type="button" class="btn btn-secondary tags-margin-right plus">+</button>
            <button type="button" class="btn btn-outline-dark btn-sm tags-margin-right">#iot</button>
            <button type="button" class="btn btn-outline-dark btn-sm tags-margin-right">#C#</button>
            <button type="button" class="btn btn-outline-dark btn-sm tags-margin-right">#C++</button>
            <button type="button" class="btn btn-outline-dark btn-sm tags-margin-right">Java</button>
        </div>
    </div>
    <div class="mb-2">
        <row>
            <a href="/projects" class="btn btn-primary float-right ">Objavi</a>            
            <a href="/homepage" class="btn btn-outline-primary float-right tags-margin-right">Odustani</a>
        </row>
    </div>


</div>


@code {

}
