@page "/temp"

<style>
    body {
        padding-top: 7rem;
    }
    .container{
        margin-bottom:60px;
    }
</style>

<div class="container">
    <div class="">
        <div class="list-group">            
            <a href="#" class="list-group-item list-group-item-action">

                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Vještačka inteligencija u obrazovnim ustanovama SSS</h5>
                    <small>3 days ago</small>
                </div>
                <p class="mb-1">
                    Usavršavanje obrazovnog sistema uz uvođenje vještačke inteligencije u srednje škole,
                    kako bi se povećala svijest studenata i uvele njihove lične percepcije u sfere budućnosti
                    koje nam donose mnogo toga zanimljivog kroz tehniku i automatizam.
                </p>
                <small>21.12.2020 - 7.7.2021</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Inteligencija u obrazovnim ustanovama SSS</h5>
                    <small>55 days ago</small>
                </div>
                <p class="mb-1">
                    Usavršavanje obrazovnog sistema uz uvođenje vještačke inteligencije u srednje škole.

                </p>
                <small>21.12.2020 - 7.7.2021</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Obrazovnim ustanovama SSS</h5>
                    <small>7 days ago</small>
                </div>
                <p class="mb-1">
                    kako bi se povećala svijest studenata i uvele njihove lične percepcije u sfere budućnosti
                    koje nam donose mnogo toga zanimljivog kroz tehniku i automatizam.
                </p>
                <small>21.12.2020 - 7.7.2021</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action">

                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Vještačka inteligencija u obrazovnim ustanovama SSS</h5>
                    <small>3 days ago</small>
                </div>
                <p class="mb-1">
                    Usavršavanje obrazovnog sistema uz uvođenje vještačke inteligencije u srednje škole,
                    kako bi se povećala svijest studenata i uvele njihove lične percepcije u sfere budućnosti
                    koje nam donose mnogo toga zanimljivog kroz tehniku i automatizam.
                </p>
                <small>21.12.2020 - 7.7.2021</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Inteligencija u obrazovnim ustanovama SSS</h5>
                    <small>55 days ago</small>
                </div>
                <p class="mb-1">
                    Usavršavanje obrazovnog sistema uz uvođenje vještačke inteligencije u srednje škole.

                </p>
                <small>21.12.2020 - 7.7.2021</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Obrazovnim ustanovama SSS</h5>
                    <small>7 days ago</small>
                </div>
                <p class="mb-1">
                    kako bi se povećala svijest studenata i uvele njihove lične percepcije u sfere budućnosti
                    koje nam donose mnogo toga zanimljivog kroz tehniku i automatizam.
                </p>
                <small>21.12.2020 - 7.7.2021</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action">

                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Vještačka inteligencija u obrazovnim ustanovama SSS</h5>
                    <small>3 days ago</small>
                </div>
                <p class="mb-1">
                    Usavršavanje obrazovnog sistema uz uvođenje vještačke inteligencije u srednje škole,
                    kako bi se povećala svijest studenata i uvele njihove lične percepcije u sfere budućnosti
                    koje nam donose mnogo toga zanimljivog kroz tehniku i automatizam.
                </p>
                <small>21.12.2020 - 7.7.2021</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Inteligencija u obrazovnim ustanovama SSS</h5>
                    <small>55 days ago</small>
                </div>
                <p class="mb-1">
                    Usavršavanje obrazovnog sistema uz uvođenje vještačke inteligencije u srednje škole.

                </p>
                <small>21.12.2020 - 7.7.2021</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Obrazovnim ustanovama SSS</h5>
                    <small>7 days ago</small>
                </div>
                <p class="mb-1">
                    kako bi se povećala svijest studenata i uvele njihove lične percepcije u sfere budućnosti
                    koje nam donose mnogo toga zanimljivog kroz tehniku i automatizam.
                </p>
                <small>21.12.2020 - 7.7.2021</small>
            </a>
        </div>
    </div>

</div>



@code {

}
