@page "/homepage"
@inject ApiService ApiService

<div class="content">
    <div class="section">
        @*TODO: make a search component*@
        <EditForm Model="searchParameters">
            <InputText @bind-Value="searchParameters.SearchText">Unesite pojam za pretragu</InputText>
        </EditForm>
        <button type="button" class="button button-primary" @onclick="SearchProjects">Pretraži</button>
    </div>

    <h3>Pregled projekata</h3>

    @foreach (var model in projectDisplayModels)
    {
        <div class="section" @onclick="@(() => LoadProject(model.ProjectId))">
            <h4 class="title">@model.Title</h4>

            <h5>Opis</h5>
            <p>@model.Description</p>

            <h5>Oblast</h5>
            <p>@model.StudyField.Name</p>
        </div>
    }

</div>

