@page "/homepage/{queryString}"
@page "/homepage"
@inject ApiService ApiService
@inject NavigationManager NavigationManager

<div class="content">
    <h3>Pregled projekata</h3>

    @foreach (var model in projectDisplayModels)
    {
        <div class="section" @onclick="@(() => LoadProject(model.ProjectId))">
            <h4 class="title">@model.Title</h4>

            <h5>Opis</h5>
            <p>@model.Description</p>

            <h5>Oblast</h5>
            <p>@model.StudyField.Name</p>
        </div>
    }
</div>

<AuthorizeView>
    <Authorized>
        <p>hello</p>
    </Authorized>
    <NotAuthorized>
        no hello for you
    </NotAuthorized>
</AuthorizeView>
