@page "/"
@inject IJSRuntime js
@inject ApiService ApiService

<AuthorizeView>
    <Authorized>
        <h2>Welcome</h2>

        <b>User info from GUI project:</b>

        @foreach (var claim in context.User.Claims)
        {
            <p>@claim.Type : @claim.Value</p>

            //tmp2 = context.User.Claims.ToArray()[1].ToString().Split("nameidentifier:")[1];
        }

        <h1>@tmp2</h1>
    </Authorized>

    <NotAuthorized>
        Not Allowed
    </NotAuthorized>
</AuthorizeView>

@code{
    string tmp2;
}