@inject IJSRuntime js
@inject ApiService ApiService

<AuthorizeView>
    <Authorized>
        <h2>Welcome</h2>
    </Authorized>

    <NotAuthorized>
        <h2>Not Allowed</h2>
    </NotAuthorized>
</AuthorizeView>