@page "/change"

    <div class="container pw-change">
        <div class="form-group pass-show">
            <input type="password" class="form-control" placeholder="Trenutna lozinka">
            <span class="ptxt">Prikaži</span>
        </div>
        <div class="form-group pass-show">
            <input type="password" class="form-control" placeholder="Nova lozinka">
            <span class="ptxt">Prikaži</span>
        </div>
        <div class="form-group pass-show">
            <input type="password" class="form-control" placeholder="Potvrdi lozinku">
            <span class="ptxt">Prikaži</span>
        </div>
    </div>









@*
    <div class="container pw-change">
        <div class="row">
            <div class="col-sm-4">

                <label>Trenutna lozinka</label>
                <div class="form-group pass-show">
                    <input type="password" value="faisalkhan@123" class="form-control" placeholder="Trenutna lozinka">
                    <span class="ptxt">Show</span>
                </div>
                <label>Nova lozinka</label>
                <div class="form-group pass-show">
                    <input type="password" value="faisal.khan@123" class="pw-form-control" placeholder="Nova lozinka">
                    <span class="ptxt">Show</span>
                </div>
                <label>Potvrda lozinke</label>
                <div class="form-group pass-show">
                    <input type="password" value="faisal.khan@123" class="pw-form-control" placeholder="Potvrda lozinke">
                    <span class="ptxt">Show</span>
                </div>

            </div>
        </div>
    </div>*@