@page "/account/register"
@inject ApiService ApiService
@inject NavigationManager Navigation

<EditForm Model="@model" OnValidSubmit="RegisterUser">
    <div class="register-box">
        <img src="../img/logo.JPG" />
        <label>Email:</label>
        <InputText type="text" placeholder="Email" @bind-Value="@model.Email"></InputText>
        <label>Lozinka:</label>
        <InputText type="password" placeholder="Lozinka" @bind-Value="@model.Password"></InputText>
        <label>Ponovite lozinku:</label>
        <InputText type="password" placeholder="Ponovite lozinku" @bind-Value="@model.ConfirmPassword"></InputText>
        <div>
            <input type="submit" class="btn btn-primary" value="Registruj se" />
        </div>
    </div>
</EditForm>