<div class="row">
    <div class="container-fluid">

        @if (VisitorClosedProjectDisplayModel.CollaboratorDisplayModels == null)
        {
            <div class="row">
                <h5>Administrator ovog projekta nije izabrao ni jednog saradnika!</h5>
            </div>
        }
        else
        {
            <div class="col-md-4">
                <h5>Lista saradnika:</h5>
            </div>
            @foreach (eduProjectModel.Display.CollaboratorDisplayModel appliedCollaborator in VisitorClosedProjectDisplayModel.CollaboratorDisplayModels)
            {
                <hr style="border-top: 1px solid lightblue" />
                <div class="row">
                    <div class="col-md-4">
                        @appliedCollaborator.FirstName @appliedCollaborator.LastName
                    </div>
                </div>
            }
        }
        <hr style="border-top: 1px solid lightblue" />
    </div>
</div>