@*Ovaj fajl sam vise napravio genericki, tako da se moze koristiti kao iskacuci prozorcic za sva moguca pitanja,
    da damo korisniku jos jednu sansu da se predomisli, ako nije sto posto siguran da zeli da uradi sta je zapoceo.
    Kroz parametar Title se posalje poruka koja se postavlja kao naslov prozorcica koja definise onda o cemu se radi,
    sta je korisnik siguran da hoce da uradi ili da odustane od toga.*@

<div class="section">
    <p>Da li ste sigurni?</p>
    <button @onclick="CancelConfirm" class="button button-primary">Prihvati</button>
    <button @onclick="CancelDeny" class="button">Odustani</button>
</div>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter]
    public string Title { get; set; }

    protected override void OnInitialized() => BlazoredModal.SetTitle(Title);

    // Metoda koja treba da sadrzi sta ce se raditi kada korisnik klikne na Prihvati button na iskacucem prozorcicu.
    // Vraca !Cancelled, pa mozes sve i u if-u uraditi.
    void CancelConfirm() => BlazoredModal.Close();

    // Metoda koja treba da sadrzi sta ce se raditi kada korisnik klikne na Odustani button na iskacucem prozorcicu. (ako i treba ista da se radi kada se klikne na Odustani)
    void CancelDeny() => BlazoredModal.Cancel();

}