@inject NavigationManager NavigationManager

<div class="section">
    

    @if (CollaboratorDisplayModels == null)
    {
        <h6>Autor ovog projekta nije izabrao ni jednog saradnika.</h6>
    }
    else
    {
        <div class="collaborator-profiles-table">
            <table class="table table-hover table-bordered">
                <caption class="title">Odabrani saradnici</caption>
                <thead  class="thead-dark">
                    <tr>
                        <th>Ime i prezime</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var model in CollaboratorDisplayModels)
                    {
                        <tr>
                            <td><a href=@($"{NavigationManager.BaseUri}users/{model.CollaboratorId}")>@model.FirstName @model.LastName</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>


@code {
    [Parameter]
    public ICollection<CollaboratorDisplayModel> CollaboratorDisplayModels { get; set; }

}
