<div class="section">
    <h4 class="title">Odabrani saradnici</h4>

    @if (CollaboratorDisplayModels == null)@* empty? *@
    {
        <h6>Autor ovog projekta nije izabrao ni jednog saradnika.</h6>
    }
    else
    {
        <div class="collaborator-profiles-table">
            <table>
                <thead>
                    <tr>
                        <th>Ime i prezime</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var model in CollaboratorDisplayModels)
                    {
                        <tr>
                            <td>@model.FirstName @model.LastName</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>


@code {
    [Parameter]
    public ICollection<CollaboratorDisplayModel> CollaboratorDisplayModels { get; set; }

}
