@inject eduProjectWebGUI.ProjectApplicationInputModel model

<div class="simple-form">

    <div class="form-group">
        <text for="message">Ako želite da priložite komentar uz prijavu, molimo Vas da ga unesete</text>
        <textarea @bind="@model.ApplicantComment" type="text" class="form-control comment-field" id="message" placeholder="Komentar ..." style="resize: none; height: 200px" />
    </div>

    <button @onclick="SubmitForm" class="btn btn-primary">Prihvati</button>
    <button @onclick="Cancel" class="btn btn-secondary">Odustani</button>

</div>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    protected override void OnInitialized() => BlazoredModal.SetTitle("Unesite komentar");

    void SubmitForm() => BlazoredModal.Close();

    void Cancel() => BlazoredModal.Cancel();

}