<div class="navigation-menu">
    <div class="dropdown">
        <a class="dropdown-toggle" id="imageDropdown" data-toggle="dropdown" style="float:right;"><img src="../img/user.png" class="menu-avatar"></a>
        <div class="dropdown-menu">
            <ul>
                <li><a class="dropdown-item" href="#">Podešavanja</a></li>
                <li><a class="dropdown-item" href="#">Odjavi se</a></li>
            </ul>
        </div>
    </div>
    <a class="menu-logo">Logo Picture</a> @*Ovdje cemo staviti sliku logo-a koja ima transparentnu pozadinu.*@
    <a class="menu-item" href="">Početna</a>
    <a class="menu-item" href="">Aktivni projekti</a>
    <a class="menu-item" href="">Moji projekti</a>
    <a class="menu-item" href="">Moje prijave</a>
    </div>
