@inject NavigationManager NavigationManager

<div class="container">
	<h1>Molimo ulogujte se.</h1>
	<button class="btn btn-outline-info" @onclick="@(()=>{NavigationManager.NavigateTo("account/login");})">Prijava</button>
</div>

@code {

}
