<div class="component">
    @if (TagNames.Count == 0)
    {
        
    }
    else
    {
        <div class="tags">
            @foreach (var name in TagNames)
            {
                <div class="tag" @onclick="@(e => { if (Editing)TagNames.Remove(name);})">
                    @name
                </div>
            }
        </div>
    }
</div>

@code {
    [Parameter]
    public bool Editing { get; set; } = false;
    [Parameter]
    public ICollection<string> TagNames { get; set; } = new HashSet<string>();
    [Parameter]
    public ProjectInputModel ProjectInputModel { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {

    }
}
